@model IEnumerable<Garage2._0.Models.Vehicle>

@{
    ViewBag.Title = "Results";
}

<h2>Results</h2>

<div id="VechicleListContainer">
    @Html.Partial("VehiclesList", Model)
</div>



<div id="ModalContainer"></div>